.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 150px 0 200px;
  justify-items: center;
  min-height: 100vh;
  row-gap: 10rem;
}

.contact-info {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}

.contact-info h4,
.socials-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  letter-spacing: -5pxpx;
  text-decoration: underline 3px black;
  font-weight: normal;
  text-transform: uppercase;
}

.contact-info span {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3rem;
}

.socials {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
  height: 100%;
  text-align: center;
}

.socialMedia-lists {
  list-style-type: none;
  font-size: 4rem;
  line-height: 3.5rem;
}

.socialMedia-lists li a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  /*message me at */
  .contact-info {
    grid-column-start: 1;
    grid-column-end: 13;
    font-size: 8rem;
    line-height: 7rem;
  }
  .break {
    display: none;
  }

  .contact-info span {
    font-size: 9rem;
    text-transform: uppercase;
  }

  .socials {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
  }
  .socialMedia-lists {
    font-size: 8rem;
    line-height: 7rem;
  }
}
