.aboutContent-container {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5rem;
}

.aboutContent-title {
  border: 2px solid blue;
  grid-column-start: 1;
}

.aboutContent-title h4 {
  font-size: 20px;
  font-weight: 500;
}
.aboutContent-title-2 {
  justify-self: center;
  border: 2px solid yellow;
  grid-column-start: 4;
  grid-column-end: 5;
}

.aboutContent-title-2 h4 {
  font-size: 20px;
  font-weight: 500;
}

.aboutContent-hobbies {
  margin-top: 1rem;
  border: 2px solid cyan;
  grid-column-start: 1;
  grid-column-end: 6;
}

.aboutContent-hobbies h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 50px;
}

/* aboutContent image*/
.aboutContent-image {
  height: 350px;
  width: 500px;
  background-color: lightgray;
}

.aboutContent-text {
  margin-top: 1.5rem;
  border: 2px solid pink;
  grid-column-start: 1;
  grid-column-end: 6;
}

.aboutContent-text p {
  font-size: 1.2rem;
  line-height: 20px;
}

.aboutContent-button {
  margin-top: 7rem;
  grid-column-start: 4;
  grid-column-end: 5;
  background: #494b4e;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.aboutContent-button__text {
  color: #e1dfdd;
  font-size: 2rem;
  text-decoration: none;
}
