.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container span {
  width: 10px;
  height: 40px;
  background: black;
  border-radius: 5px;
  margin: 6px;
  animation: move 3s infinite ease-in-out;
}

.first {
  transform: rotate(-45deg);
}

.second {
  transform: rotate(45deg);
}

@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
