.contactContent-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.contactContent-title {
  grid-column-start: 1;
}

.contactContent-title h3 {
  font-size: 20px;
  font-weight: 500;
  font-weight: 500;
}

.contactContent-title h4 {
  padding-top: 32px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}

.contactContent-title-2 {
  display: none;
}

.contactContent-contact {
  margin: 5rem 0 10rem 0;
  grid-column-start: 1;
  grid-column-end: 8;
  text-align: center;
}

.contactContent-contact a {
  color: inherit;
  text-decoration: none;
}

.contactContent-contact a .contactContent-email {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-decoration: underline;
}

.contactContent-title-3 {
  display: none;
}
@media (min-width: 1100px) {
  .contactContent-container {
    grid-template-columns: repeat(13, 1fr);
    margin-top: 20rem;
  }

  .contactContent-title-2 {
    display: block;
    grid-column-start: 6;
    grid-column-end: 7;
    align-self: flex-end;
    justify-self: center;
  }

  .contactContent-title-2 h4 {
    font-size: 25px;
    line-height: 20px;
    padding-top: 32px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .contactContent-title-3 {
    display: inline;
    grid-column-start: 11;
    grid-column-end: 14;
    align-self: flex-end;
  }

  .contactContent-title-3 h4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }

  .contactContent-contact {
    grid-column-start: 5;
    grid-column-end: 11;
    justify-self: center;
    margin-bottom: 12rem;
    margin-top: 20rem;
  }

  .contactContent-contact a .contactContent-email {
    font-size: 7rem;
    line-height: 6rem;
    text-decoration: none;
  }
}
