.footer-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 1rem;
  padding-bottom: 44px;
}

.footer-left,
.footer-middle,
.footer-right {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: lighter;
}

.footer-middle__socialMedia > li {
  list-style: none;
  display: inline-block;
  padding-right: 0.3rem;
}

.footer-middle__socialMedia li a {
  text-decoration: none !important;
  color: inherit;
}

.footer-middle__socialMedia {
  margin: 0;
  padding: 0;
}

/* name */
.footer-left {
  grid-column-start: 1;
  grid-column-end: 8;
  line-height: 1.5rem;
}

.footer-left > span {
  display: block;
}

.footer-middle {
  grid-column-start: 1;
  grid-column-end: 8;
}

.footer-right {
  grid-column-start: 1;
  grid-column-end: 8;
  margin-top: 2rem;
  line-height: 1.5rem;
}

.footer-right > span {
  display: block;
}

@media (min-width: 1100px) {
  .footer-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-right,
  .footer-middle,
  .footer-left {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .footer-right {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: right;
    margin: 0;
    text-align: right;
  }

  .footer-middle {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: end;
  }

  .footer-left {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
