.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(4, 250px); */
  margin-top: 100px;
  row-gap: 20px;
  padding-bottom: 170px;
}

.content-title {
  grid-column: 1 / 7;

  /* letter-spacing: -0.2rem; */
}

.content-title__ui {
  font-style: italic;
}

.content-title__letter {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 49px;
  text-transform: uppercase;
}

/* image */
.image-container {
  grid-column-start: 1;
  grid-column-end: 4;
  min-width: 350px;
  justify-self: left;
  height: 470px;
  transition-duration: 1s;
  transition-property: min-width, height;
  transition-timing-function: ease-in-out;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.name {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  line-height: 0.8;
  letter-spacing: 0.3rem;
}

.name-first {
}
.name-last {
}

.name-first__letter {
  font-size: 3.5rem;
  font-weight: 500;
}

@media (min-width: 1100px) {
  .content {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
  }
  .content-title__ui > span,
  .content-title > span {
    font-size: 8rem;
    line-height: 7rem;
  }

  .name span {
    font-size: 8rem;
    font-weight: 500;
    line-height: 7rem;
  }

  /* image */
  .image-container {
    grid-column-end: 8;
    min-width: 700px;
    height: 400px;
  }

  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    /* transform: scaleY(4); */
  }

  .name {
    grid-column-start: 7;
    grid-column-end: -1;
    text-align: right;
  }
}
