.about-container {
  border: 3px solid red;
  min-height: 100vh;
  margin-top: 10rem;
}

.about-section-container {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 32px;
}

.about-section__title {
  grid-column-start: 3;
  grid-column-end: 6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  justify-self: center;
}

.about-section__image {
  grid-column-start: 2;
  grid-column-end: 7;
  height: 400px;
}

.about-section__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-section-container p {
  grid-column-start: 2;
  grid-column-end: 7;
  font-size: 20px;
  padding-top: 1.5rem;
}
