.about-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 3px solid red;
  min-height: 100vh;
  padding-top: 10rem;
  row-gap: 10rem;
}

.num {
  font-size: 1.3rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

/* .about-image-container span  */
.title,
.about-location {
  font-size: 3rem;
  line-height: 49px;
  text-transform: uppercase;
}

.about-image-container {
  grid-column-start: 1;
  grid-column-end: 6;
  border: 3px solid blue;
}

.about-image__1 {
  height: 400px;
  max-width: 700px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-image__1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.about-image-container p {
  font-size: 1.2rem;
  line-height: 1.23rem;
  margin-top: 3rem;
}

.about-image__2 {
  border: 3px solid pink;
  height: 500px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 3rem;
}

.about-image__2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* accordion container */
.services-container {
  border: 3px solid chocolate;
  grid-column-start: 1;
  grid-column-end: 6;
}

.services-container .title {
  margin-bottom: 0;
}

.accordion-container {
  margin-top: 3rem;
  border: 3px solid blue;
}
