.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 42px;

  line-height: 1.4rem;
  text-decoration-style: solid;
  text-decoration-color: rgb(225, 223, 221);
}

.header__name {
  font-size: 22px;
  text-decoration: none;
  color: inherit;
  line-height: 23px;
}
.header_logo {
  grid-column: 1/3;
}

.header_menu {
  grid-column: 6/7;
  justify-self: flex-end;
  font-size: 22px;
}

.header_menu span {
}
