.container {
  height: 100%;
  width: 100%;
}

.profile-container {
  align-self: end;
}

.profile {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 5rem);
  row-gap: 10px;
}

.profile h4 {
  font-size: 25px;
  font-weight: 500;
}

.profile-container__title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.profile-intro {
  align-self: end;
  justify-self: center;
  grid-column-start: 7;
  grid-column-end: -1;
  border-bottom: 3px solid black;
}

.profile-about {
  font-size: 2rem;
  line-height: 1.1em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
}

/* about button */
.profile-button {
  grid-row-start: 4;
}

.profile-button__text {
  font-size: 1.4rem;
  border-bottom: 3px solid black;
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 5rem);
}
